#main{max-width: 50rem; margin: 0 auto;}
#wrapper{width: 50rem; margin: auto}
#grid-background-target{width: 37.5rem; height: 37.5rem; padding: 1rem;}
#svg-container{text-align: center;}
#caption{text-align: center;}